beautifulsoup4==4.12.3
boto3==1.35.63
botocore==1.35.63
docling==2.17.0
fastapi==0.115.8
fitz==0.0.1.dev2
markitdown==0.0.1a3
pandas==2.2.3
pdfplumber==0.11.5
pdfservices_sdk==4.1.0
python-dotenv==1.0.1
#Requests==2.31.0
Requests>=2.32.2,<3.0.0
streamlit==1.41.1
uvicorn==0.34.0
